.control {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.control label {
    flex-basis: 15%;
    font-weight: bold;
    color: #464646;
}

.control input {
    flex: 1;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
}

.control.invalid input {
    border-color: red;
    background: #fbdada;
}
